<!DOCTYPE html>
<html lang="en">
{% include 'admin/news/parts/head.twig' %}
<body>

<div class="container-fluid">
    {% include 'admin/news/parts/header.twig' %}
    <!-- navbar -->

    <!-- form -->
    <div class="container">
        <div class="col-md-10 offset-1">
            <div class="jumbotron jumbotron headingForm">
                <div class="container">
                    <h1>Albumi</h1>
                    <p>Ovde se nalaze svi albumi sa sajta</p>
                </div>
            </div>
            <!-- form  -->
            <div class="card card-outline-secondary NewsForm">
                <div class="card-header">
                    <h3 class="mb-0 headingForm">Albums</h3>
                </div>
                <!--card body-->
                <div class="card-body">
                    <form class="form" action="#">
                        <div class="row mb-2">
                            {% for album in albums %}
                                <div class="col-md-4 my-2">
                                    <div class="card">
                                        <img class="card-img-top" src="https://i.imgur.com/VdxpZLe.jpg"
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ album.title }}</h5>
                                            <a href="/album/info/{{ album.id }}" class="btn btn-success float-left mr-1"
                                               role="button">Info</a>
                                            <a href="/album/edit/{{ album.id }}" class="btn btn-primary float-left mr-1"
                                               role="button">Edit</a>
                                            <form action="#" method="post">
                                                <button type="submit" class="btn btn-danger float-left px-3 py-2"
                                                        role="button">Delete
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="admin-buttons">
                            {#<form action="#" method="post">
                                <button type="submit" class="btn btn-danger float-right" role="button">Delete</button>
                            </form>#}
                        </div>
                    </form>
                </div>
                <!--/card-body-->
            </div>
            <!-- /form -->
        </div>
    </div>
    <!-- end form -->

</div>
</body>
<script src="/public/admin/assets/validation.js"></script>
</html>