.admin-buttons a{
    margin-right:5px;
}

.NewsForm {
    margin-top: 2%;
}

.login-top {
    margin-top:35%;
}

.NewsForm p {
    color:black !important;
}

.headingForm {
    text-align: center;
}

.go-back  {
    margin-top: 10%;
    margin-bottom: 1%;
}


